/*
 *  utility classes to override default behaviors
 */
.font-normal { font-weight: normal; }

/*
 *  bootstrap overrides
 */
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th { padding: 3px 5px; }

.btn-actions .btn,
.btn {
  background-color: #58748B;
  border: none;
  border-radius: 0;
  color: #eee;
}
.btn-actions .btn:hover {
  background-color: #7990A2;
}
.help-block {
  display: none;
}
.fa-check { color: green; }
.fa-close { color: red; }
body#toolbox #content .nav.nav-tabs > li > a {
    background-color: #58748b;
    border: 1px solid #58748b;
    color: #fff;
}
body#toolbox #content .nav.nav-tabs > li.active {
  margin-top: 1px;
}
body#toolbox #content .nav.nav-tabs > li.active > a {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: 0 none;
    color: #008fbe;
}
body#toolbox #content .nav.nav-tabs > li.help > a {
    background-color: #cb3334;
    border-color: #cb3334;
    font-weight: bold;
}
body#toolbox #content .nav.nav-tabs > li.faq > a {
    background-color: #005FAD;
    border-color: #005FAD;
    font-weight: bold;
}

/*
 *  styles
 */
body {
  font-family: 'Source Sans Pro', sans-serif;
}
body#toolbox {
  margin-top: 24px;
}
body#toolbox #sidebar .list-group-item.active a {
  color: #ffffff;
}
body#toolbox #sidebar .highlight {
  background-color: yellow;
}
body#toolbox #content {
  background-color: #ffffff;
}
body#toolbox #content ul.alert,
body#toolbox #content ol.alert {
  list-style-position: inside;
}
.required { color: red; font-size: 120%; vertical-align: middle; }
.radio-inline.first { padding-left: 0; }

/* inner page navigation */
body#toolbox #content nav {
  margin-bottom: 12px;
}
body#toolbox #content nav ul {
  xxxbackground-color: #008fbe;
}
body#toolbox #content nav ul li {
  margin-left: 0;
}
body#toolbox #content nav ul a {
  background-color: #ddd;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
body#toolbox #content nav ul a:last-child {
  margin-right: 0;
}
body#toolbox #content nav ul a:hover,
body#toolbox #content nav ul li.active a {
  background-color: #fff;
  color: #008fbe;
}
body#toolbox #content nav ul li.active a {
  font-weight: bold;
}

/*
 *  form wizard
 */

nav#wizard a,
nav#wizard a:active,
nav#wizard a:focus,
nav#wizard a:hover {
    cursor: pointer;
    outline: 0 none !important;
    text-decoration: none !important;
}
nav#wizard {
   background: #f7f7f8;
}
nav#wizard h3 {
  color: #007aff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 12px;
  text-align: center;
}
nav#wizard ul {
     border-radius: 5px;
     display: table;
     list-style: outside none none;
     margin: 0 0 40px;
     padding: 10px 0;
     position: relative;
     width: 100%;
 }
nav#wizard li {
     display: table-cell;
     text-align: center;
     width: 1%;
 }
nav#wizard li > a::before {
    border-top: 4px solid #c8c7cc;
    content: "";
    display: block;
    font-size: 0;
    height: 1px;
    overflow: hidden;
    position: relative;
    top: 21px;
    width: 100%;
    z-index: 1;
}
nav#wizard li:first-child > a::before {
    left: 50%;
    max-width: 51%;
}
nav#wizard a::before {
    border-top: 4px solid #c8c7cc;
    content: "";
    display: block;
    font-size: 0;
    height: 1px;
    overflow: hidden;
    position: relative;
    top: 21px;
    width: 100%;
    z-index: 1;
}
nav#wizard a.done .stepNumber,
nav#wizard li:last-child > a.selected .stepNumber {
    background-color: #007aff;
    border-color: #007aff;
    color: #fff;
    text-indent: -9999px;
}
nav#wizard a.done .stepNumber::before,
nav#wizard li:last-child > a.selected .stepNumber::before {
    content: "\f00c";
    display: inline;
    float: right;
    font-family: FontAwesome;
    font-weight: 300;
    height: auto;
    margin-right: 7px;
    text-indent: 0;
    text-shadow: none;
}
nav#wizard a.done::before,
nav#wizard a.selected::before {
     border-color: #007aff;
}
nav#wizard li:last-child > a::before {
    max-width: 50%;
    width: 50%;
}
nav#wizard a.selected .stepNumber {
    border-color: #007aff;
}
nav#wizard .stepNumber {
    background-color: #fff;
    border: 5px solid #c8c7cc;
    border-radius: 100%;
    color: #546474;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 2;
}
nav#wizard a.done:hover .stepNumber {
  background-color: #ffffff;
  color: #007aff;
}
nav#wizard .stepDesc {
    color: #8e8e93;
    display: block;
    font-size: 12px;
    margin-top: 4px;
    max-width: 100%;
    table-layout: fixed;
    text-decoration: underline;
    text-align: center;
    word-wrap: break-word;
    z-index: 104;
}
nav#wizard li > a:hover::before,
nav#wizard a:hover .stepNumber,
nav#wizard a:hover .stepDesc {
  border-color: #FF69B4;
  color: #FF69B4;
}
nav#wizard li > a.selected:hover::before,
nav#wizard a.selected:hover .stepNumber,
nav#wizard a.selected:hover .stepDesc {
  border-color: #007aff;
  color: #2b3d53;
}
nav#wizard a.done .stepDesc,
nav#wizard a.selected .stepDesc {
    color: #2b3d53;
    text-decoration: none;
}

/* inner page actions */
body#toolbox #content .action-row {
  background-color: #F7F7F7;
  margin-bottom: 12px;
}
body#toolbox #content .action-row a:hover {
  background-color: #E8E8E8;
}

/* inner page content */
body#toolbox #content nav:first-child {
  margin-bottom: 0;
}
body#toolbox .bordered-area {
  border: 1px solid #ddd;
  border-top: none;
  padding: 15px;
}
body#toolbox #content h2 {
  color: #0A569B;
  margin-top: 0;
}
body#toolbox #content .btn > .fa {
  margin-right: 4px;
  vertical-align: middle;
}
body#toolbox #content .btn.btn-create {
  padding: 30px 10px;
  width: 250px;
}
body#toolbox #content h2.screen-title {
  font-size: 24px;
}
body#toolbox #content h2.screen-title small {
  margin-left: 12px;
}
body#toolbox #content legend {
  border: none;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}
body#toolbox #content .radio {
  margin-bottom: 0;
}
body#toolbox #content .radio.first {
  margin-top: 0;
}
body#toolbox #content table caption {
  color: #000000;
  font-weight: bold;
}
body#toolbox #content table thead th {
  font-weight: normal;
}
#content .pagebreak-row th,
#content .pagebreak-row td {
  background-color: #008FBE;
  border: none;
  color: #ffffff;
  font-weight: bold;
}
#content .pagebreak-row .fa {
  color: #ffffff;
}
#content .btn-add {
  background-color: #97CE6F;
}
#content .btn.add-answers {
  margin-top: 12px;
}
#content .question-row .fa-plus-circle {
  color: #97CE6F;
}
#content .question-row .fa-disabled {
  color: #ddd;
}
#content .question-row .bg-info {
  xxxborder: none;
}
#content .arrow-up {
  margin-right: 4px;
}
#content .arrow-down {
  margin-left: 4px;
}
#content .datepicker {
  background: transparent;
}
#content .arrow-active:hover {
  color: red;
}
#content .arrow-disabled {
  color: #ededed;
}
#content .fa-disabled {
  color: #cccccc;
}
#content .form-inline label {
  font-weight: normal;
  margin-right: 8px;
}
#content .form-inline .first-column,
#content .form-inline .nth-column {
  margin-right: 8px;
}
body#toolbox #content div.help-block {
  background-color: #f7f7f8;
  margin-bottom: 36px;
  padding: 12px;
}
body#toolbox #content div.help-block dl:last-child {
  margin-bottom: 0;
}
.panel, .panel-heading {
  border-radius: 0;
}
.panel-default, .panel-default .panel-heading {
  border-color: #359ec4;
}
.panel-default .panel-heading {
  background-color: #359ec4;
  color: #fff;
  font-weight: bold;
}

/*
 *  Toolbox form styles
 */
.form-group label,
.form-group strong.label {
  color: #0c3d75;
  display: inline-block;
  font-size: 100%;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100%;
  padding: 0;
}
.form-group .help-block {
  color: #424242;
  font-size: 85%;
}
.form-group .form-control,
.form-group trix-editor,
.form-group ul.tagit {
  background-color: #f9f9f9;
  border: 2px solid #359ec4;
  border-radius: 0;
  box-shadow: 0;
  color: #424242;
  height: 46px;
  padding: 12px;
}
.form-group trix-editor {
  height: 100%;
}
.form-group ul.tagit {
  padding: 8px;
}
.form-group ul.tagit li {
  padding: 0 18px 0 8px;
}
.input-group-url .input-group-addon {
  border: 2px solid #359ec4;
  border-right: none;
  border-radius: 0;
}
.input-group-url .form-control {
  border-left: none;
}
.input-group-url .input-group-addon:last-child {
  background-color: #ffffff;
  border: 2px solid #359ec4;
  border-left: none;
  color: #333333;
}
.input-group-url .input-group-addon:hover {
  background-color: #efefef;
}

/*
 * Calendar event file upload popup
 */
.popup_content {
  height: 400px;
  width: 75%;
}
.popup_content iframe {
  border: none;
  height: 100%;
  width: 100%;
}

/*
 *  Public form styles
 */
#public-form { font-family: Arial; font-size: 12px; padding: 12px; }
#public-form h1 { margin-top: 0; }
#public-form .sr-only { left: -3000px; position: absolute; }
#public-form .text-center { text-align: center; }

/* alert messages */
#public-form .alert { border: 1px solid transparent; border-radius: 4px; margin-bottom: 20px; padding: 15px; }
#public-form .alert dt { font-weight: bold; }
#public-form .alert dd { margin-left: 0; }
#public-form .alert-danger { background-color: #f2dede; border-color: #ebccd1; color: #a94442; }
#public-form .alert-danger > * { color: #a94442; }
#public-form .alert-warning { background-color: #fcf8e3; border-color: #faebcc; color: #8a6d3b; }
#public-form .alert-warning > * { color: #8a6d3b; }
#public-form h2.error-heading { font-size: 20px; font-weight: bold; margin: 0; margin-bottom: 8px;}
#public-form .form-message,
#public-form .alert > * { font-family: Arial; font-size: 12px; margin-bottom: 15px; }
#public-form .alert > *:last-child { margin-bottom: 0; }

/* form elements */
#public-form fieldset { border: none; margin: 0; padding: 0; }
#public-form legend { border: none; margin: 0; padding: 0; }
#public-form legend,
#public-form label { font-family: Arial; font-size: 12px; font-weight: bold; }
#public-form label { display: block; margin-bottom: 4px; }
#public-form .question-header { background-color: #fafafa; border: 1px dotted #c8c8c8; border-radius: 8px; color: #575757; line-height: normal; margin-bottom: 8px; padding: 12px; }
#public-form .form-group { margin-bottom: 15px; }
#public-form .error-style { color: red; }
#public-form .form-control { border: 1px solid #ddd; border-radius: 4px; display: block; font-family: inherit; max-width: 100%; padding: 8px; width: 100%; }
#public-form input[type='radio'],
#public-form input[type='checkbox'] { margin-right: 4px; vertical-align: inherit; }
#public-form fieldset label { font-weight: normal; margin-bottom: 0; }
#public-form .fa-asterisk { color: red; font-size: 8px; margin-left: 4px; vertical-align: text-top; }
#public-form .datepicker { background: transparent; }

/* paging and submission */
#public-form .pager .current-page { letter-spacing: 0.1em; margin: 0 12px; }

/* custom skins */
#public-form.custom-skin .fa-asterisk { vertical-align: inherit; }
#public-form.custom-skin  .asterisk { font-size: 18px; left: 0; position: relative; vertical-align: inherit; }
#public-form.custom-skin .pager { display: table; font-size: 12px; list-style: none; margin: 20px 0; text-align: center; width: 100%; }
#public-form.custom-skin .pager li { display: inline-block; line-height: normal; padding: 0; }
#public-form.custom-skin .pager li { border: 1px solid #DDDDDD; color: #ddd; }
#public-form.custom-skin .pager li.current-page { border: none; color: #484848; }
#public-form.custom-skin .pager li.disabled a { color: #DDDDDD; cursor: not-allowed; text-decoration: none; }
#public-form.custom-skin .pager li.active a { color: #008fbe; cursor: not-allowed; text-decoration: none; }
#public-form.custom-skin .pager a { display: inline-block; padding: 8px; }

/*
 *  Public skin temple
 */
#public table { border: 1px solid #1690BB; }
#public table thead th { background-color: #1690BB; border-bottom: none; color: #ffffff; }
#public table tbody th { font-weight: normal; }
#public table tbody th,
#public table tbody td { border-top: 1px solid #1690BB; border-bottom: none; }
#public table tbody th.text-notice { font-size: 11px; }
