header .story .entry h1 {
font-size: 50px;
color: #fff;
font-weight: normal;
}

header .story .entry p {
color: #008fbe;
width: 65%;
margin: 0 auto 40px;
}

main h1, main .selling-points {
background: #3e3e3e;
color: #fff;
}

main h1.text-center {
margin-top: 0;
}






















