xxx.list-group { background-color: #F7F7F7; }
xxx.list-group > .list-group-item { background-color: #F7F7F7; border: none; }
xxx.btn-envelope { background-color: #F7F7F7; border: 1px solid rgba(0, 0, 0, 0.2); }
.day-label { color: #0A569B; margin-bottom: 4px; }
.location,
.location-additional { margin-bottom: 0; }
.entry .location-additional { font-style: italic; margin-left: 24px; margin-bottom: 4px; }

.tags .label { background-color: #1690BB; font-size: 90%; }
.row.detail-item { margin-bottom: 12px; }
.list-recurring li { border-top: 1px solid #ccc; margin-top: 8px; padding-top: 8px; }
.list-recurring li:first-child { border-top: 0; margin-top: 0; padding-top: 0; }
.list-recurring li .recurring-row { margin-bottom: 0;}
.list-recurring li .recurring-agenda { display: none; margin-top: 8px; }

/*
 *  Social media icons
 */
.btn.btn-social-icon { background-color: #359EC4; color: #ffffff;
}

#public-calendar { font-family: arial; font-size: 13px; }
#public-calendar #sidebar {}

/*
 *  Mini calendar
 */
#mini-cal { border: none; border-spacing: 0; font-size: 12px; width: 280px; }
#mini-cal th, #mini-cal td { background-color: #f2f2f2; border: none; padding: 4px; text-align: center; }

/*
 *  Event detail
 */
#event-item .calendar-navigate {
  font-size: 1.8em;
}
#event-item .calendar-navigate a:hover {
  text-decoration: none;
}
#event-item .event {
  max-width: 100%;
  min-width: 100%;
}
#event-item #event-description {
  margin-top: 12px;
}
.event-block {
  background-color: #f2f2f2;
  padding: 24px;
}
.event-block h3 {
  margin: 0;
  margin-bottom: 12px;
}
.event-block ul li {
  margin-top: 8px;
}
.event-block ul li:first-child {
  margin-top: 0;
}
